<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExploringGLKMesh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE21D8941E80C8E80083717A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE416E811E94E59C0097F574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE416E971E94E8B40097F574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE58615D1E8E4A0B007F4FD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5875F11E8B55F0009086FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5B49A01E96684400FE6B75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE7696A72B251A4E00AF461A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEBA66111E80A5910098B485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEBA66291E80A6490098B485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEEBD95A1E9394DA005835CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF9D9112B17E8040051C3C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
